.venv/

__pycache__/
*.py[cod]

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.junie/

.env
.env.*
!environment/.env.development
!environment/.env.uat
!environment/.env.production

.idea/
.vscode/
